<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Entry search</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script defer src="semsearch.js"></script>
    <style>
      .hidden {
        display: none;
      }
      label.is-active {
        background-color: #ff8;
        font-weight: bold;
      }
      .tag-tei {
        margin-right: 1em;
      }
      .panel-heading {
        font-size: 1.1em;
      }
    </style>
  </head>
  <body>
    <section class="section">
      <div class="container" id="semsearch">
        <h1>
          <span class="title">Semantic Search</span>
          <span style="float:right">Density: {{ density }}</span>
        </h1>
        <p><em>Edition: {{ edition }} (model: {{ speed }})</em></p>
        <div class="columns">
          <form class="column is-2" @submit.prevent.default="onSubmitForm()">
            <div class="panel">
              <p class="panel-heading">Query</p>
              <div class="panel-block">
                <input class="input is-primary" type="search" v-model="query" list="suggestions">
                <datalist id="suggestions">
                  <option v-for="suggestion in suggestions" :value="suggestion" />
                </datalist>
              </div>
            </div>
            <div class="panel">
              <p class="panel-heading">Minimum length</p>
              <div class="panel-block">
                <div class="select">
                  <select v-model="minLength" @change="search()">
                    <option value="0">No minimum</option>
                    <option value="1000">1,000 characters</option>
                    <option value="10000">10,000 chars</option>
                    <option value="100000">100,000 chars</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="panel">
              <p class="panel-heading">Results per screen</p>
              <div class="panel-block">
                <div class="select">
                  <select v-model="limit" @change="search()">
                    <option>1</option>
                    <option>5</option>
                    <option>10</option>
                    <option>25</option>
                    <option>100</option>
                  </select>
                </div>
              </div>
            </div>
          </form>
          <div class="column is-5" class="results">
            <h2 class="title is-4">Nearest documents</h2>
            <div v-for="(item, idx) in items.documents">
              <a href="#" @click.prevent.default="onClickItem(item)">{{idx + 1}}. {{ item.label }}</a>
              <span style="float: right;"> 
                ({{ getItemLength(item) }}) 
                <a target="_blank" :href="getTextUrlFromItem(item)"> [TEXT]</a>
              </span>
            </div>
          </div>
          <div class="column is-5" class="results">
            <h2 class="title is-4">Nearest words</h2>
            <div v-for="(item, idx) in items.words">
              <a href="#" @click.prevent.default="onClickItem(item)">{{idx + 1}}. {{ item.label }}</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>